<navigation-bar></navigation-bar>
<div class="container-fluid text-center">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="col-sm-12 text-left">
				<h1>Current location</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					sed do eiusmod tempor incididunt ut labore et dolore magna 
					aliqua. Ut enim ad minim veniam, quis nostrud exercitation
					ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				</p>
			</div>
		</div>
	</div>
	<div class="row">
	
		<div class="col-sm-offset-2 col-sm-8">
			<div class="col-sm-12 text-left">
				<google-map mapId="mapaCurrentLocation" (sendMapToParentEvent)='catchMapFromChild($event)'></google-map>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
				<div class="col-sm-1">
					<div class="glyphicon glyphicon-refresh glyphicon-refresh-animate" [ngClass]="{ 'hidden': !loading }"></div>
				</div>
				<div class="col-sm-11">
					<div type="text" class="form-control" readonly="readonly">{{errorMessage}} </div>
				</div>
	<!-- 			<div class="form-group col-sm-5 google-map-dashboard">
					<button class="btn btn-default btn-block" type="button" (click)='onClickClearButton()'>clear</button>
				</div> -->
		</div>
	</div>
</div>