<ul class="meal-list">
    <li *ngFor="let trackUser of asyncTrackUsernameList | async | paginate: { id: 'server', itemsPerPage: 8, currentPage: page, totalItems: total }">
        <h4>
        	<div class="label label-dark btn"
        		(click)="sendTrackUserToParent(trackUser)"> 
        		{{ getTrackUserLabel(trackUser)}} 
        	</div>
        </h4>
    </li>
</ul>

<div class="text-center">
    <div class="glyphicon glyphicon-refresh glyphicon-refresh-animate" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>