

<div  [attr.id] = "mapId" class="google-map"> </div>



<!-- 

<div attr.id="{{mapId}}" style="width:500px;height:380px;">BLAHBLAH</div>

<div  *ngIf="mabyc"   #tmp 
	[attr.id] = "mapId"> {{tmp}}
</div>

 -->