<navigation-bar></navigation-bar>
<div class="container-fluid text-center">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8 text-left">
			<h1>Welcome</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
				sed do eiusmod tempor incididunt ut labore et dolore magna 
				aliqua. Ut enim ad minim veniam, quis nostrud exercitation
				ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				Excepteur sint occaecat cupidatat non proident, sunt in 
				culpa qui officia deserunt mollit anim id est laborum 
				consectetur adipiscing elit, sed do eiusmod tempor
				incididunt ut labore et dolore magna aliqua. Ut enim ad 
				minim veniam, quis nostrud exercitation ullamco laboris nisi
				ut aliquip ex ea commodo consequat.
			</p>
		</div>
	</div>
	<div class="row center-parent">
		<div class="center-child">
			<img src="/app/resources/images/logo.png">
			<img src="/app/resources/images/logo.png">
			<img src="/app/resources/images/logo.png">
		</div>
	</div>
</div>