<div class="container">
  <div class="jumbotron">
    <h1>TRACK</h1> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Duis lacus urna, sollicitudin ut fermentum in, porttitor id augue. 
    Aliquam justo purus, convallis at nisl a, vehicula ullamcorper mauris.</p> 
  </div>
</div>
<div class="container">
    <div *ngIf="active">
    	<div class="row">
	    	<div class="form-group col-sm-3">
	    		<h1>Login to Track</h1>
			    <form (ngSubmit)="doLogin()" #loginForm="ngForm">
			    	<div class="row">
				    	<div class="form-group col-sm-12">
				        	<label for="username">Username</label>
				        	<input type="text" class="form-control" id="username" required="required"
				        		[(ngModel)]="model.accessorUsername" name="username"
				        		#username="ngModel"
				        	>
					        <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
				          		Username is required
			        		</div>
			      		</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-12">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" required="required"
							[(ngModel)]="model.accessorPassword" name="password"
							#password="ngModel"
							>
							<div [hidden]="password.valid || password.pristine" class="alert alert-danger">
				          		Password is required
				        	</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-6">
							<button type="submit" class=" btn btn-default col-xs-12" [disabled]="!loginForm.form.valid">Log in</button>
						</div>
						<div class="form-group col-sm-6">
							<a class=" btn btn-default col-xs-12" (click)="toogleVisibleRegister()">Register</a>	
						</div>
					</div>
			    </form>
				<div class="row">
					<div class="form-group col-sm-12 text-center">
						<div class="glyphicon glyphicon-refresh glyphicon-refresh-animate" [ngClass]="{ 'hidden': !loading }"></div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-12 text-center">
						{{errorMessage}}
					</div>
				</div>
			</div>
		    <div class="form-group col-sm-3">
		    	<div *ngIf="visibleRegister">
					<register></register>
				</div>
		    </div>
		</div>
	</div>
</div>