    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button 	type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" 
          			aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/home']">TRACK</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/current-location']">Current location</a></li>
            
            <li><a [routerLink]="['/previous-tracks']">Previous tracks</a></li>
            <li><a [routerLink]="['/friends-location']">Friends location</a></li>
            <li><a [routerLink]="['/personal-settings']">Personal settings</a></li>
          </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a [routerLink]="['/personal-settings']"><span class="glyphicon glyphicon-user"></span>Logged as: {{authenticationService.accessorJsonWebToken.username}}</a></li>
			<li><a [routerLink]="['/login']" (click)="doLogout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		  </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>