<div class="container-fluid">
	<div *ngIf="active">
		<div class="own-friend-adding">
			<div class="row">
				<form (ngSubmit)="doAddOwnFriend()" #addNewOwnFriendForm="ngForm">
					<div class="col-xs-12">
						<label for="ownFriend">New friend</label>
					</div>	
					<div class="col-xs-9">
						<input type="text" class="form-control" id="ownFriend" required="required"
							[(ngModel)]="newOwnFriend" name="ownFriend">
					</div>
					<div class="col-xs-3">
						<button type="submit" class=" btn btn-default col-xs-12" [disabled]="!addNewOwnFriendForm.form.valid">Add</button>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="form-group col-sm-6 text-center">
					{{errorMessage}}
				</div>
			</div>
		</div>
		<div class="own-friend-list">
	    	<div *ngFor="let trackUser of asyncOwnFriendsList | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: page, totalItems: total }">
				<div class="row">
					<div class="col-xs-9">
						<div class="label label-dark btn">
							{{ getTrackUserLabel(trackUser)}}
						</div>
					</div>
					<div class="col-xs-3">
						<div class="label label-remove btn"
							(click)="doRemoveOwnFriend(trackUser)">
							remove
						</div>
					</div>
				</div>
	    	</div>
		</div>
		<div class="text-center">
		    <div class="glyphicon glyphicon-refresh glyphicon-refresh-animate" [ngClass]="{ 'hidden': !loading }"></div>
		    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
		</div>
	</div>
</div>