.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.col-xs-9{
	padding: 0px 0px 0px 0px;
}
.col-xs-3{
	padding: 0px 0px 0px 0px;
}

.label.label-dark{
	background-color: #222;
	display: block;
	margin-top:2px;/* 0px 0px 0px;*/
	width: 100%;
	font-size: large;
}

.label.label-remove{
	background-color: #333;
	display: block;
	margin-top:2px;
	width: 100%;
	font-size: large;
}