<navigation-bar></navigation-bar>
<div class="container">
    <h1>Personal Settings: {{authenticationService.accessorJsonWebToken.username}}</h1>
    <div class="row">
	    <div class="col-sm-6">
		    <div *ngIf="activeChangePassword">
			    <form (ngSubmit)="doChangePassword()" #changePasswordForm="ngForm">
			    	<div class="row">
						<div class="form-group col-sm-6">
							<label for="password">New password</label>
							<input type="password" class="form-control" id="password" required="required"
								[(ngModel)]="model.accessorPassword" name="password"
								#password="ngModel">
							<div [hidden]="password.valid || password.pristine" class="alert alert-danger">
				          		Password is required
				        	</div>
						</div>
						<div class="form-group col-sm-6">
							<label for="repeatPassword">Repeat password</label>
							<input type="password" class="form-control" id="repeatPassword" required="required"
								[(ngModel)]="model.accessorRepeatPassword" name="repeatPassword"
								#repeatPassword="ngModel">
							<div [hidden]="repeatPassword.valid || repeatPassword.pristine" class="alert alert-danger">
				          		Repeat password is required
				        	</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-12">
							<button type="submit" class=" btn btn-default col-sm-12" [disabled]="!changePasswordForm.form.valid">Change password</button>
						</div>
					</div>
				</form>
				
				<div class="row">
					<div class="form-group col-sm-12 text-center">
						<div class="glyphicon glyphicon-refresh glyphicon-refresh-animate" [ngClass]="{ 'hidden': !loadingChangePassword }"></div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-12 text-center">
						{{errorMessageChangePassword}}
					</div>
				</div>
			</div>
			<div *ngIf="activeChangePersonalData">
				<form (ngSubmit)="doChangePersonalData()" #changePersonalDataForm="ngForm">
					<div class="row">
						<div class="form-group col-sm-6">
							<label for="email">E-mail</label>
							<input type="text" class="form-control" id="email"
								[(ngModel)]="model.accessorEmail" name="email"
								#name="ngModel">
						</div>
						<div class="form-group col-sm-6">
							<label for="phone">Phone</label>
							<input type="text" class="form-control" id="phone"
								[(ngModel)]="model.accessorPhone" name="phone"
								#name="ngModel">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-6">
							<label for="name">Name</label>
							<input type="text" class="form-control" id="name"
								[(ngModel)]="model.accessorName" name="name"
								#name="ngModel">
						</div>
						<div class="form-group col-sm-6">
							<label for="surname">Surname</label>
							<input type="text" class="form-control" id="surname"
								[(ngModel)]="model.accessorSurname" name="surname"
								#name="ngModel">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-12">
							<button type="submit" class=" btn btn-default col-sm-12" [disabled]="!changePersonalDataForm.form.valid">Save</button>
						</div>
					</div>
			    </form>
			    
				<div class="row">
					<div class="form-group col-sm-12 text-center">
						<div class="glyphicon glyphicon-refresh glyphicon-refresh-animate" [ngClass]="{ 'hidden': !loadingChangePersonalData }"></div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-12 text-center">
						{{errorMessageChangePersonalData}}
					</div>
				</div>
		    </div>
	    </div>
		<div class="col-sm-6">
			<own-friends-list></own-friends-list>
		</div>
    </div>
</div>