<navigation-bar></navigation-bar>
<div class="container-fluid text-center">
	<div class="col-sm-offset-2 col-sm-8 text-left">
		<h1>Previous tracks</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
			sed do eiusmod tempor incididunt ut labore et dolore magna 
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		</p>
	</div>
	<div class="col-sm-offset-2 col-sm-6 text-left">
		<google-map mapId="mapaPreviusTracks" (sendMapToParentEvent)='catchMapFromChild($event)'></google-map>
	</div>
	
	
	<div class="col-sm-3">
		<div class="row text-left">
			<routes-list (sendRouteToParentEvent)='catchRouteFromList($event)'></routes-list>
		</div>
		<div class="row">
			<div class="glyphicon glyphicon-refresh glyphicon-refresh-animate" [ngClass]="{ 'hidden': !loading }"></div>
		</div>
		<div class="row">
			<textarea type="text" class="form-control" readonly="readonly">{{errorMessage}} </textarea>
		</div>
	</div>

</div>