<div class="container">
    <h1>Register to Track</h1>
    <div *ngIf="active">
	    <form (ngSubmit)="doRegister()" #registerForm="ngForm">
	    
	    	<div class="row">
		    	<div class="form-group col-sm-3">
		        	<label for="username">Username</label>
		        	<input type="text" class="form-control" id="username" required="required"
		        		[(ngModel)]="model.accessorUsername" name="username"
		        		#username="ngModel">
			        <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
		          		Username is required
	        		</div>
	      		</div>
			</div>
			
			<div class="row">
				<div class="form-group col-sm-3">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" required="required"
						[(ngModel)]="model.accessorPassword" name="password"
						#password="ngModel">
					<div [hidden]="password.valid || password.pristine" class="alert alert-danger">
		          		Password is required
		        	</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-sm-3">
					<label for="repeatPassword">Repeat password</label>
					<input type="password" class="form-control" id="repeatPassword" required="required"
						[(ngModel)]="model.accessorRepeatPassword" name="repeatPassword"
						#repeatPassword="ngModel">
					<div [hidden]="repeatPassword.valid || repeatPassword.pristine" class="alert alert-danger">
		          		Repeat password is required
		        	</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-sm-3">
					<label for="email">E-mail</label>
					<input type="text" class="form-control" id="email"
						[(ngModel)]="model.accessorEmail" name="email"
						#name="ngModel">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-3">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name"
						[(ngModel)]="model.accessorName" name="name"
						#name="ngModel">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-3">
					<label for="surname">Surname</label>
					<input type="text" class="form-control" id="surname"
						[(ngModel)]="model.accessorSurname" name="surname"
						#name="ngModel">
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-sm-3">
					<label for="phone">Phone</label>
					<input type="text" class="form-control" id="phone"
						[(ngModel)]="model.accessorPhone" name="phone"
						#name="ngModel">
				</div>
			</div>
			
			
			
			<div class="row">
				<div class="form-group col-sm-3">
					<button type="submit" class=" btn btn-default col-xs-12" [disabled]="!registerForm.form.valid">Create account</button>
				</div>
			</div>
	    </form>
	    
		<div class="row">
			<div class="form-group col-sm-3 text-center">
				<div class="glyphicon glyphicon-refresh glyphicon-refresh-animate" [ngClass]="{ 'hidden': !loading }"></div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-3 text-center">
				{{errorMessage}}
			</div>
		</div>
    </div>
</div>