body {
  padding-top: 70px;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.row.content {height:auto;}
}

/* Styles go here */
#map { 
  height: 200px
}